body{
    background-color:#FFFFFF;
    width: 75%;
    margin: auto;
}

body .title{
    text-align: center;
    font-size: 30px;
}

body .inline{
    text-align:center;
}

body .inline li {
	display: inline;
}

body .topBtn{
	width: 80px;
	height: 50px;
	padding: 20px;
	margin: auto;
    font-size: 35px;
}

body .h2video{
    width: 200px;
}

body .video{
    display: flex;
    float: left;
}

body .youtube{
    margin-top: 10px;
    margin-right: 10px;
    padding: 60px;
    padding-bottom: 1000px;
    background-color: aliceblue;
}

body .instagram{
    float: right;
}
body .sns{
    display:inline;
}

dt{
    color:navy;
    font-weight:bold;
    padding:0 10px 0 0;
    width:120px;
    float:left;
    margin-bottom:7px;
}

dd{
    color:#333;
    margin-bottom:7px;
}

dl::after {
    content: '';
    display: block;
    clear: both;
}

iframe .timeline-Header{
    visibility:hidden;
}