body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FFFFFF;
}

body .width75 {
    width: 75%;
    margin: auto;
}

body .title {
    text-align: center;
    font-size: 30px;
}

body .title a{
    text-decoration: none;
}

body .topBtn {
    text-align: center;
}

body .topBtn li {
    list-style: none;
    display: inline;
    flex: auto;
}

body .topBtn ul {
    display: flex;
    justify-content: space-evenly;
}

body .topbtn p {
    text-align: center;
}

body .topBtn a {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
}

body .topBtn a:after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6px;
    height: 6px;
}

body .topBtn a:hover {
    background: #6bb6ff;
    color: #FFF;
}

body .video {
    float: left;
}

body .video h2{
    margin-bottom: 16px;
}

body .instagram h2{
    margin-bottom: 16px;
}

body .instagram {
    float: right;
}

body .topNews {
    float: left;
}

body .topNews h2{
    margin-top: 16px;
}

body .topNews ul {
    width: 1050px;
    padding: 0
}

body .topNews li {
    border-bottom: 1px solid #ccc;
    list-style: none;
}

body .topNews a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

body .topNews a:hover {
    background-color: #ccc;
}

body .topNews span {
    color: #737373;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

body .topNews p {
    color: #131313;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

iframe .timeline-Header {
    visibility: hidden;
}

body .News {
    width:  75%;
    margin: auto;
}

body .News ul {
    width: 100%;
    padding: 0
}

body .News li {
    border-bottom: 1px solid #ccc;
    list-style: none;
}

body .News a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

body .News a:hover {
    background-color: #ccc;
}

body .News span {
    color: #737373;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

body .News p {
    color: #131313;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

body .News h2{
    float: left;
}

body .profile {
    width: 53%;
}

body .profile {
    float: left;
}

body .profile_img img{
    float:right;
}

body .profile_img img{
    width: 44%;
}

body h2{
    margin: 0;
}

body .googleForm{
    /* widthをformの大きさと一緒にすれば中央ぞろえ */
    width: 640px;
    margin: 0 auto;
}
